# 01)

In [1]:
def is_symmetrical(num):
    str_ = str(num)
    length = len(str_)
    num_1 = int(length/2)
    num_2 = -(num_1 )
    return (str_[:num_1]==str_[num_2:][::-1])

In [2]:
is_symmetrical(7227)

True

In [3]:
is_symmetrical(12567)

False

In [4]:
is_symmetrical(44444444)

True

In [5]:
is_symmetrical(9939)

False

In [6]:
is_symmetrical(1112111)

True

# 02)

In [7]:
def mul(list_):
    count = 1
    for e in list_:
        count*=e
    return count

In [8]:
def multiply_nums(sen):
    return mul([ int(s.strip()) for s in sen.strip().split(',')])

In [9]:
multiply_nums("2, -3")

-6

multiply_nums(&quot;1, 2, 3, 4&quot;)

In [10]:
multiply_nums("1, 2, 3, 4")

24

multiply_nums(&quot;54, 75, 453, 0&quot;)

In [11]:
multiply_nums("54, 75, 453, 0")

0

multiply_nums(&quot;10, -2&quot;)

In [12]:
multiply_nums("10, -2")

-20

# 03)

In [13]:
def square_digits(num):
    str_num = ''
    for s in str(num):
        str_num+=str(int(s)**2)
    return int(str_num)

In [14]:
square_digits(9119)

811181

In [15]:
square_digits(2483)

416649

In [16]:
square_digits(3212)

9414

# 04)

In [17]:
def setify(list_):
    s = set(list_)
    l = [ _s1 for _s1 in s]
    l.sort()
    return l

In [18]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [19]:
setify([4, 4, 4, 4])

[4]

In [20]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [21]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

# 05)

In [22]:
def mean(num):
    sum = 0
    length = len(str(num))
    for s in str(num):
        sum+=int(s)
    return int(sum/length)

In [23]:
mean(42)

3

In [24]:
mean(12345)

3

In [25]:
mean(666)

6