# 01 )

Operators: +, -, *, /
Values: 'hello', -87.8, 6

operators are special characters (*, +, -, /, =, >, ^,&,|.. etc) . there are two main types of operators have in python
    1) Logical Operators
    2) Arithmatic Operators 

*, /, +, - are Arithmatic operators in python, these operators use for specific  operations

python use variable for store values and  python can store various type of values.

*, /, +, - operation with numeric data

In [1]:
# * operator used for multiplication 
2 * 5

10

In [2]:
# + operator used for addition 
2 + 5.4

7.4

In [3]:
# - operator used for difference  
2 - 5

-3

In [4]:
# / operator used for division  
2 / 5

0.4

Also, ( *, + ) operators can use with string data type, but another ones can not use like this

In [5]:
# + with string values
'inueron '  + 'Full Stack Data Science Course'

'inueron Full Stack Data Science Course'

In [6]:
# * with string values
'inueron '  * 3

'inueron inueron inueron '

'hello', 6, -87.8 are values but these data types are differenet with each other

In [7]:
# Check data type of 'hello'
type('hello')

str

In [8]:
# Check data type of 6
type(6)

int

In [9]:
# Check data type of -87.8
type(-87.8)

float

now we can clearly see what are the differences between these operators and values

# 02 )

A Variable use for  store of information (values), and a String is a  data type of information which can store in a Variable.

In [10]:
spam = 'spam'

# 03 )

Here we discuss Set, Dictonary and Tuple

Set :
A set is a mutable collection and  it contain distinct hashable objects, 
same as the list and tuple but it can not access elements using indexes because it does not record element position or order. It is an unordered collection of objects, 
A set  has suitable methods to perform mathematical set operations > intersection, union, difference, etc.

In [11]:
# example for set
set_ = {1,2,3,4,5,'asanka'}
type(set_)

set

In [12]:
# define set, we can define set like s1 = {} because empty curly create dictionary 
s1 = set()
type(s1)

set

In [13]:
# can not access elements using indexes
set_[0]

TypeError: 'set' object is not subscriptable

Example mathematical operations with set

In [14]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9,0}

In [15]:
# Union 
s1.union(s2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [16]:
# intersection
s1.intersection(s2)

{4, 5, 6}

In [17]:
# difference
s1.difference(s2)

{1, 2, 3}

Dictionary  :
The dictionary is an unordered collection that contains key:value pairs separated by commas, this is stored values like map

In [18]:
# Create Empty Dictonary
dict_ = {}

In [19]:
dict_ ={'name':'Asanka','age':24}

In [20]:
# Access dictonary from key value
dict_['name']

'Asanka'

Tuple : Tuples are same as list it is ordered The only difference is that tuples are immutable (Tuples once created cannot be modified)

In [21]:
# Create tuple
tuple_ = (1,2,3,43,5)

In [22]:
# Access with index
tuple_[1]

2

In [23]:
# immutable
tuple_[1] = 9999

TypeError: 'tuple' object does not support item assignment

# 04)

An expression is a combination of values and operators. expressions are evaluate  to a single value.

In [24]:
# Example for expression 
num = 2*3 - 8 -5**5
num

-3127

# 05)

An expression evaluates to a single value but statement does not

# 06)

bacon variable set to 22. if we want incerement by one  we need to assigment statement

In [25]:
bacon = 22
bacon + 1
bacon

22

# 07)

both given same result 'spamspamspam'

In [26]:
'spam' + 'spamspam'

'spamspamspam'

In [27]:
'spam' * 3

'spamspamspam'

# 08)

variable can not begin with number

In [28]:
eggs = 's'

In [29]:
100 = 's'

SyntaxError: cannot assign to literal (<ipython-input-29-5f4c54d2788d>, line 1)

# 09)

int() - get integer 
float() - get floating point number 
str() - get string version value

# 10)

99 is a integer only string values concatenated to other string with + operator

we can fix this error convert 99 integer type to string type

In [30]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'