https://drive.google.com/file/d/1aq25-WbsWQA2b-8038kLX3U2zpfyUyFF/view

# 01)

In [20]:
lst = [1, 2, 3, 4]

def repeat(l,num):
    global lst
    lst = l
    lst = l*3
    return lst
    
def add(l,item):
    global lst
    lst = l
    lst.append(item)
    return lst

def remove(l,left,right):
    global lst
    lst = l
    lst = lst[0:left]+ lst[right:-1]
    return lst    

def concat(l,l1):
    global lst
    lst = l
    lst = l + l1
    return lst

In [21]:
repeat(lst, 3)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [22]:
add(lst, 1)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1]

In [23]:
remove(lst, 1, 12)

[1]

In [24]:
concat(lst, [3, 4])

[1, 3, 4]

# 03)

In [37]:
def two_product(l,num):
    two_product_lst = []
    for _l1 in l:
        if(num/_l1 in l):
            two_product_lst.append(_l1)
            two_product_lst.append(int(num/_l1))
            break
    return two_product_lst if len(two_product_lst)!=0 else None

In [38]:
two_product([1, 2, 3, 4, 5], 10)

[2, 5]

In [39]:
two_product([1, 2, -1, 4, 5], 20)

[4, 5]

In [40]:
two_product([100, 12, 4, 1, 2], 15)

# 06)

In [47]:
from functools import reduce

def lcm(a, b):
    """Return lowest common multiple."""
    return a * b // gcd(a, b)

def lcmm(*args):
    print(566)
    return reduce(lcm, args)

In [48]:
lcmm([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

566

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]